@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
a {
  text-decoration: none;
}

body {
  font-family: "Rubik", sans-serif;
  color: black;
  font-size: 18px;
}
a {
  text-decoration: none !important;
}
.header-top {
  background: #f8eeba;
  color: #977f00;
}

.navbar-brand {
  font-family: "Kalam", cursive;
  font-size: 30px;
  color: black;
  border: 3px solid black;
}

.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background: black;
  transition: all 0.5s ease;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

.nav-link {
  color: black;
  font-size: 20px;
  padding: 10px 20px !important;
  border-radius: 5px;
  transition: background 1s ease;
}

.nav-link:hover {
  background: #fdbe02;
  color: #fbfbff;
}

.nav-icons a {
  color: black !important;
  font-size: 20px;
  padding: 8px !important;

  &:hover {
    background: #fdbe02;
    color: #fbfbff;
  }
}

/*#################banner##############*/

.item-1,
.item-2,
.item-3 {
  min-height: 60vh;
  font-weight: 900 !important;
}

.item-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../img/banner-1.jpg) center/cover fixed no-repeat;
}

.item-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../img/banner-1.jpg) center/cover fixed no-repeat;
}

.item-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../img/banner-1.jpg) center/cover fixed no-repeat;
}

.no-padding {
  padding: 0;
}

.banner-btn {
  color: rgb(15, 15, 15);
  transition: all 1s;
  border: 2px solid #ccc;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

  &:hover {
    color: #fff;
    background: rgb(15, 15, 15);
    transform: translateY(-7px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  }
}
/*#################services section##############*/

.service-icon {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #000;
  background: rgb(219, 213, 213);
  padding: 0.5rem 1rem;
  border-radius: 50%;
}

/*################# categories ##############*/
.categories-link {
  color: #000;
  text-decoration: none;
  &:hover {
    color: #ccc;
  }
}

.categories-underline {
  height: 0.1rem;
  width: 5rem;
  background: #fdbe02;
}

.category-container {
  position: relative;

  &:hover .category-img {
    opacity: 0.7;
    transform: scale(1.1);
  }

  &:hover .category-link {
    opacity: 1;
  }
}

.category-img {
  transition: all 1s linear;
}

.category-link {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.2rem 3rem 0.2rem 0.2rem;
  background: #fdbe02;
  color: #000;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  opacity: 0;
  transition: all 1s linear;
  text-decoration: none !important;

  &:hover {
    color: #ccc;
  }
}

/*################# featured section ##############*/

.featured-container {
  position: relative;
  overflow: hidden;
}

.featured-search-icon {
  // background: #ccc;
  // display: inline;

  position: absolute;
  bottom: 0%;
  left: 10%;
  // font-size: 1.8rem;
  transform: translateX(180%);
  transition: all 1s ease-in-out;
  cursor: pointer;
  & li {
    background: #fdbe02;
    padding: 8px;
    margin: 0;
    transition: all 1s ease;
    border: 2px solid rgb(78, 78, 78);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
}

.featured-container:hover .featured-search-icon {
  transform: translateX(0%);
}

.featured-container:hover img {
  transform: scale(1.3);
}

.featured-search-icon li:hover {
  color: #fff;
  background: #000;
  transform: translateY(-7px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
// .featured-search-icon li i {
//   background: #ccc;
//   border: 1px solid #000 !important;
//   // padding-right: 10px;
// }
/*################# newslettter ##############*/

.form-icon {
  background: #ccc;
  color: #000;
  & i {
    font-size: 1.4rem;
    padding: 9px !important;
  }
}
.btn-warning {
  font-size: 1.2rem;
  border-radius: 0 !important;
  transition: all 1s ease-in-out;
  border: 2px solid rgb(78, 78, 78);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  &:hover {
    background: #000;
    color: #fdbe02;
    transform: translateY(-7px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  }
}
/*################# footer ##############*/
.logo {
  border: 2px solid #000;
}

/*################# footer-contact ##############*/
footer {
  background: #f5f5f5;
}
.footer-icon {
  color: #fdbe02;

  &:hover {
    color: rgb(34, 35, 36);
  }
}
/*################# dropdown ##############*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: -50px;
  left: 0;
  font-size: 13px;
  background-color: #0e0d0d;
  color: #f5f5f5;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 7px 6px;
  z-index: 100;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*################# shop banner ##############*/

.img-position {
  position: relative;
  overflow: hidden;

  img {
    transition: all 2s ease-in-out;
  }
}

.img-text {
  position: absolute;
  bottom: 5%;
  left: 15%;
  border: 1px solid #000;
  padding: 5px 10px;
  background: #fff;
  transition: all 1s ease-in-out;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  &:hover {
    background: #000;
    color: #fff;
    transform: translateY(-7px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  }
}
.img-position:hover img {
  transform: scale(1.3);
}

/*################# products section ##############*/
.products a {
  color: #000;
  text-decoration: none;
}
.products-categories-underline {
  height: 0.2rem;
  width: 5rem;
  background: #fdbe02;
}

.products-categories-link {
  color: #000;
  text-decoration: none;
  transition: all 1s ease;
  &:hover {
    background: #000;
    color: #f5f5f5;
  }
}

.products-color {
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
  &-black {
    background: black;
  }
  &-red {
    background: red;
  }
  &-blue {
    background: blue;
  }
  &-green {
    background: green;
  }
  &-yellow {
    background: yellow;
  }
}

/*################# shop banner ##############*/
/*################# shop banner ##############*/
/*################# shop banner ##############*/
/*################# shop banner ##############*/
/*################# shop banner ##############*/
/*################# shop banner ##############*/
